.img {
    background-image: url('./repas1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.livraison {
    background-image: url('./delivery.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.card_chef {

    /* border: 1px solid darkblue; */
    border-radius: 1px 1px 100px 30px !important;
}